/* Utility class */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #D6DBD7;
}
.green_banner{
    background-color: #009688;
    height:100px;
    padding: 20px;
}
.container{
    width: 80%;
    height: calc(100vh - 40px);
    background-color: red;
}
/* /Utility class */

/* <!-- Sidebar User --> */
.side_bar{
    background-color: royalblue;
}
.user_name{
    padding: 0;
}
.user_name span{
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
    line-height: 80px;
}
img{ 
    width:30%;
    border-radius: 50%;
}
.icon_username i {
    
}
/* <!-- /Sidebar User --> */