/* Utility class */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #D6DBD7;
}
.green_banner{
    background-color: #009688;
    height:100px;
    padding: 20px;
}
.container{
    height: calc(100vh - 40px);
    background-color: red;
}
.row{
    height: 100%;
}
img{ 
    border-radius: 50%;
}
/* /Utility class */

/* <!-- Sidebar User --> */
.side_bar{
    background-color: royalblue;
    height: 100%;
}
.user_name{
    padding: 0;
}
.user_name span{
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
    line-height: 80px;
}
.user_name img{
    width:30%;
}
.icons_username>i {
    font-size: 25px;
    padding: 10px;
}
.contatti{
    background-color: #FFFFFF;
    padding-left: inherit;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
    overflow-y: auto;
}
.contatto img{
    width: 25%;
}
.contatto p{
    margin-left: 15px;
}
/* <!-- /Sidebar User --> */